@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100dvh;
  font-feature-settings: "tnum", "lnum";
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: right;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

input,
select,
textarea {
  direction: rtl;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
